<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% user_signin_error(@user).each do |msg| %>
<!--        <li><%#= msg %></li>-->
        <p class="alert alert-danger"><%= msg %></p>
      <% end %>
    </ul>
  </div>
<% end %>

<!--">-->
<%# flash.each do |message_type, message| %>
<!--  <div class="alert alert-<%#= message_type %>"><%#= message %></div>-->
<%# end %>