@import "bootstrap-sprockets";
@import "bootstrap";

.icon {
  border-radius: 50%;
}

img{
  border-radius: 50%;
}

.img-full{
  border-radius: 0%;
  width: 50%;
  height: auto;

}

.icon-small{
  width: 3.5%;
}

.container-image {
  background-image: image-url('new-body.jpg');
  width: 10%;
  background-position: center;
  background-size: cover;
}

.font-small{
  font-size: 39%;
}

body {
  background-image: image-url('white-background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
}